/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	background: #FFF;
	font: .81em/150% Helvetica, sans-serif;
	color: #000;
}
a {
	color: #006699;
	text-decoration: none;
	outline: none;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	color: #069;
	margin:10px 0;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/************************************************************************************
WRAPPER
*************************************************************************************/
#wrapper{
	background:#eee;
	border:2px solid #006699;
	margin:2px auto;
	padding:5px 5px 0 5px;
	width:565px;
}

#header{
	display:none;
}

#flash-left{
	display:none;
}

#flash-right{
	display:none;
}

#center h1{
	text-align:center;
}

/************************************************************************************
RECETA
*************************************************************************************/
#receta{
	padding:5px;
	text-align:center;
}

#receta label{
	display:block;
	font-weight:bold;
	margin:5px 0;
	padding-left:5px;
	text-align:left;
}

#receta input,select{
	border:0;
	padding:5px;
	width:540px;
}

#receta #bottoms{
	display:none;
}

#receta textarea{
	border:none;
	padding:5px;
	width:540px;
}

#receta #firmas{
	margin-top:25px;
}

#receta #firmas table tr td{
	text-align:center;
}

#footer{
	margin-top:15px;
	text-align:center;
}

.oculto{
	display:none;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

hr{
	border-top:1px solid #EEE;
	border-bottom:1px solid #DDD;
}

/*
	Consumer key: Rlwh25pebU9sFJnBS45WmA
	Consumer secret: aOqQqds4WWH4hrzt2cd5Nfi1b4jcfdPe69hO8NkI
*/